/**************************
UNIVERSAL
**************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/**************************
LAYOUTS
**************************/
/* Header layout */
.left-nav-container, .middle-nav-container, .right-nav-container {
    float: left;
    width: 33.33%;
    border: 1px solid black;
    height: 50px;
}
/* Tagline section layout */
.tagline-section, .tagline-image-section {
    float: left;
    width: 50%;
    height: 500px;
    border: 1px solid black;
}
/* Feature container layout */
.feature-container {
    float: left;
    width: 25%;
    border: 1px solid black;
    height: 300px;
}
/* Bottom container layout */
.bottom-container {
    float: left;
    width: 100%;
    border: 1px solid black;
    height: 300px;
}

/**************************
ADDITIONAL STYLES
**************************/
/* Navigation bar styles */
header {
    background-color: rgb(227, 236, 255);
    height: 50px;
}
.company-name {
    font-size: 1.8rem;
    color: rgb(0, 52, 88);
    padding: 5px 0 0 20px;
}
.header-nav-link {
    float: left;
    width: 25%;
    text-align: center;
    padding: 13px 0 0 0;
}
.header-btn {
    float: right;
    width: 20%;
    height: 30px;
    margin: 7px 15px 0 0;
    border: none;
    background-color: rgb(0, 52, 88);
    color: white;
    border-radius: 5px;
}