/*
    - Dark blue: rgb(50, 68, 87)
    - Light blue background: rgb(246, 249, 252)
    - Search box blue: rgb(227, 234, 240)
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(246, 249, 252);
}

/* Universal Header styles */
header {
    background-color: rgb(246, 249, 252);
}
body {
        margin: 0 7%;
}
.company-name {
    color: rgb(50, 68, 87);
    font-family: "Commissioner", sans-serif;
    font-size: 2.0rem;
    font-weight: 600;
}

/* Mobile layouts */
@media screen and (max-width: 768px) {
    /* Header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
    header > ul {
        display: none;
    }
    .mobile-menu-container > button {
        width: 50px;
        height: 50px;
        font-size: 45px;
        border: 0.5px solid black;
        border-radius: 5px;
    }
    /* Top section */
    .top-section {
        padding: 30px 0 20px 0;
    }
    h1, p, button, input {
        font-family: "Commissioner", sans-serif;
        color: rgb(50, 68, 87);
    }
    h1, .tagline-paragraph {
        padding-bottom: 30px;
    }
    h1 {
        font-size: 2.5rem;
    }
    .tagline-paragraph {
        font-size: 1.4rem;
        padding-top: 30px;
    }
    .input-container {
        display: block;
    }
    input {
        height: 40px;
        width: 100%;
        border: none;
        background-color: rgb(227, 234, 240);
        color: rgb(50, 68, 87);
        padding-left: 10px;
        font-size: 1.3rem;
    }
    .input-btn {
        height: 40px;
        width: 100%;
        border: 0.5px solid black;
        margin-top: 10px;
        background-color: rgb(50, 68, 87);
        color: white;
        font-size: 1.3rem;
    }
    /* Feature styles */
    .feature-card {
        display: block;
        width: 100%;
        height: 220px;
    }
    .feature-header, .feature-paragraph, .feature-link {
        font-family: "Commissioner", sans-serif;
        color: rgb(50, 68, 87);
        margin: 0 0 15px 0;
    }
    .feature-header {
        font-size: 1.5rem;
        font-weight: 600;
    }
    .feature-paragraph, .feature-link {
        font-size: 1.2rem;
    }
    .feature-icon {
        padding-bottom: 20px;
    }
    
}

/* Desktop layouts */
@media screen and (min-width: 769px) {

    /* Header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        align-items: center;
    }
    .company-name {
        width: 25%;
    }
    .mobile-menu-container {
        display: none;
        width: 50%;
    }
    .navbar-item {
        display: inline;
        list-style-type: none;
        padding: 0 15px;
        font-family: "Commissioner", sans-serif;
        font-size: 1.2rem;
        color: rgb(50, 68, 87);
        font-weight: 500;
    }
    .blank-spacing-div {
        width: 25%;
    }
    /* Top section styles */
    .top-section {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        background-color: rgb(246, 249, 252);
    }
    .tagline-section, .tagline-image {
        width: 50%;
    }
    h1, p, button, input {
        font-family: "Commissioner", sans-serif;
        color: rgb(50, 68, 87);
    }
    h1, .tagline-paragraph {
        padding-bottom: 30px;
    }
    h1 {
        font-size: 2.5rem;
    }
    .tagline-paragraph {
        font-size: 1.4rem;
    }
    input, button {
        margin-bottom: 30px;
        border-radius: 10px;
        font-size: 1.2rem;
        border: none;
        background-color: rgb(50, 68, 87);
        color: white;
    }
    input {
        height: 40px;
        width: 70%;
        border: none;
        background-color: rgb(227, 234, 240);
        color: rgb(50, 68, 87);
        padding-left: 10px;
    }
    button {
        height: 40px;
        width: 100px;
    }
    button:hover {
        background-color: rgb(64, 87, 111)
    }
    /* Feature styles */
    .features-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .feature-card {
        display: block;
        width: 25%;
        height: 150px;
    }
    .feature-header, .feature-icon, .feature-paragraph, .feature-link {
        padding: 0 15px 15px 0;
    }
    .feature-header {
        font-size: 1.0rem;
        font-weight: 600;
        font-family: "Commissioner", sans-serif;
        color: rgb(50, 68, 87);
    }
    .feature-link {
        font-family: "Commissioner", sans-serif;
    }
    .feature-icon {
        margin-bottom: 5px;
    }
    

}

