/*
    - Dark blue: rgb(50, 68, 87)
    - Light blue background: rgb(246, 249, 252)
    - Search box blue: rgb(227, 234, 240)
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Universal Header styles */
header {
    background-color: rgb(246, 249, 252);
}
.company-name {
    color: rgb(50, 68, 87);
    font-family: "Commissioner", sans-serif;
    font-size: 2.0rem;
    font-weight: 600;
}

/* Mobile layouts */
@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
    }
    header > ul {
        display: none;
    }
}

/* Desktop layouts */
@media screen and (min-width: 769px) {

    /* Header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
    }
    .mobile-menu-container {
        display: none;
    }
    header > ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar-item {
        list-style-type: none;
        padding: 0 15px;
        font-family: "Commissioner", sans-serif;
        font-size: 1.2rem;
        color: rgb(50, 68, 87);
        font-weight: 500;
    }

}

