/**************************
UNIVERSAL
**************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/**************************
LAYOUTS
**************************/
/* Header layout */
.left-nav-container, .middle-nav-container, .right-nav-container {
    float: left;
    width: 33.33%;
    height: 50px;
}
/* Tagline section layout */
.tagline-section, .tagline-image-section {
    float: left;
    width: 50%;
    height: 500px;
    background-color: rgb(220, 230, 248);
}
/* Feature container layout */
.feature-container {
    float: left;
    width: 25%;
    height: 300px;
    background-color: rgb(220, 230, 248);
    padding: 30px 0 0 15px;
}
/* Bottom container layout */
.bottom-container {
    float: left;
    width: 100%;
    border: 1px solid black;
    height: 300px;
}

/**************************
ADDITIONAL STYLES
**************************/
/* Navigation bar styles */
header {
    background-color: rgb(220, 230, 248);
    height: 50px;
}
.company-name {
    font-size: 1.8rem;
    color: rgb(0, 52, 88);
    padding: 5px 0 0 20px;
}
.header-nav-link {
    float: left;
    width: 25%;
    text-align: center;
    padding: 13px 0 0 0;
}
.header-btn {
    float: right;
    width: 100px;
    height: 30px;
    margin: 7px 15px 0 0;
    border: none;
    background-color: rgb(0, 52, 88);
    color: white;
    border-radius: 5px;
}
/* Tagline display styles */
.tagline-section {
    padding: 90px 0 0 0;
}
.tagline {
    padding: 0 0 20px 14%;
}
h1 {
    color: rgb(0, 52, 88);
    padding: 10px 14%;
    font-size: 2.5rem;
}
input[type="text"] {
    height: 30px;
    width: 35%;
    border: none;
    background-color: rgb(203, 213, 236);
    color: rgb(0, 52, 88);
    font-size: 1.2rem;
    margin: 0 0 0 14%;
}
.tagline-btn {
    width: 100px;
    height: 30px;
    border: none;
    background-color: rgb(0, 52, 88);
    color: white;
    margin: 0 0 20px -5px;
    padding: 10px 0;
}
.about-paragraph {
    color: rgb(0, 52, 88);
    font-size: 1.2rem;
    padding: 10px 0 0 14%;
}
/* Webpage image display styles */
img {
    height: 100%;
    width: auto;
    transform: translate(40%);
    background-color: rgb(220, 230, 248);
}
/* Feature container styles */
.feature-img {
    width: 50px;
    height: auto;
}
.feature-header {
    color: rgb(0, 52, 88);
    padding: 0 6%;
}
.feature-paragraph {
    color: rgb(0, 52, 88);
    padding: 15px 6% 25px 6%;
}
.feature-link {
    color: rgb(0, 52, 88);
    padding: 0 6%;
}